@import "src/assets/style/Style.module";

:global {
  body[data-theme='light'] {
    --stat-bg: var(--gray-50);
    --stat-color: var(--gray-300);
  }

  body[data-theme='dark'] {
    --stat-bg: var(--gray-500);
    --stat-color: var(--white);
  }
}

.userStat {
  background-color: var(--stat-bg);
  color: var(--stat-color);
  @include adaptiveValue("padding-top", 15, 10);
  @include adaptiveValue("padding-bottom", 15, 10);
  @include adaptiveValue("padding-right", 32, 16);
  @include adaptiveValue("padding-left", 32, 16);
  border-radius: rem(10);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.info {
  display: flex;
  flex-direction: column;
  @include adaptiveValue("gap", 30, 10);

  &Title {
    color: var(--gray-200);
    @include adaptiveValue("font-size", 30, 10);
  }

  &Number {
    @include adaptiveValue("font-size", 40, 10);
    font-weight: 700;
  }
}