@use "sass:math";

@import "src/assets/style/Style.module";

.header {
  @include adaptiveValue("margin-top", 100, 50);
  @include adaptiveValue("margin-bottom", 50, 30);
  @include adaptiveValue("margin-right", 40, 10);
  @include adaptiveValue("margin-left", 40, 10);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  @include adaptiveValue("font-size", 30, 20);
  line-height: math.div(30, 20);
  font-weight: 700;
}