@import "src/assets/style/Style.module";

:global {
  body[data-theme='light'] {
    --search-bg: var(--white);
    --search-color: var(--gray-300);
    --search-placeholder-color: var(--gray-200);
    --search-shadow: var(--shadow);
  }

  body[data-theme='dark'] {
    --search-bg: var(--gray-400);
    --search-color: var(--white);
    --search-placeholder-color: var(--white);
    --search-shadow: unset;
  }
}

.search {
  justify-content: space-between;
  position: relative;
  width: 100%;
  overflow: hidden;
  @include adaptiveValue("padding", 20, 10);
  background-color: var(--search-bg, white);
  display: flex;
  align-items: center;
  box-shadow: var(--search-shadow);
  border-radius: rem(15);
  &>button {
    flex-shrink: 0;
  }
  &__content {
    display: flex;
    align-items: center;
    @include adaptiveValue("gap", 30, 10);;
  }
}

.label {
  cursor: pointer;
  svg {
    max-width: 100%;
  }
}

.textField {
  @include adaptiveValue("font-size", 20, 12);
  color: var(--search-color);
  cursor: pointer;
  background-color: var(--search-bg);

  &::placeholder {
    color: var(--search-placeholder-color);
  }

  &:focus {
    outline: none;
  }
}

.error {
  &::placeholder {
    color: var(--error-color);
  }
}